apiVersion: v1
clusters:
- cluster:
    certificate-authority: /ansible/credentials/ca.pem
    server: https://{{ stack_name }}-api.ft.com
  name: kube-aws-cluster
contexts:
- context:
    cluster: kube-aws-cluster
    namespace: default
    user: kube-aws-cert
  name: kube-aws-cluster-context
current-context: kube-aws-cluster-context
kind: Config
preferences: {}
users:
- name: kube-aws-cert
  user:
    client-certificate: /ansible/credentials/admin.pem
    client-key: /ansible/credentials/admin-key.pem
